@font-face {
    font-family: 'radikal_regular';
    src: url('../fonts/Nootype\ -\ Radikal-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikal_thin';
    src: url('../fonts/Nootype\ -\ Radikal-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

.secondary.btn {
    font-family: radikal_regular;
    border-radius: 0;
    text-transform: none;
    background-color: #ffcb05 !important;
    color: black;
}

.btn-image-upload {
    width: 50%;
    height: 0%;
    object-fit: contain;
}

.request-title {
    font-family: radikal_regular;
    font-size: 24px;
    margin-bottom: 20px;
}

.snapshot-upload {
    margin-bottom: 50px;
}

.fileinput {
    display: none;
    width: 100%;
    height: 100%;
}

.loading-circle {
    margin: 15px;
}

.spacelabThin {
    font-family: radikal_thin;
    border-radius: 0;
    text-transform: none;
}

.list {
    background: transparent !important;
}

.alert {
    z-index: 1000;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}