@font-face {
    font-family: 'radikal_regular';
    src: url('../../../static/assets/fonts/Nootype\ -\ Radikal-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radikal_thin';
    src: url('../../../static/assets/fonts/Nootype\ -\ Radikal-Thin.otf');
    font-weight: normal;
    font-style: normal;
}

$body-font-family = radikal_regular
$button-background-color := #ffcb05
$button-color := black
$button-text-transform := none

@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'